.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.menuDiv{
    cursor:pointer;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    /*background-image: linear-gradient(180deg, #FFFFBA, yellow, #FFFFBA);*/
}
.menu-hover{
    font-size: larger;
    background-color: #9F9F9F;
}

.sys-menu-li{
    list-style-type:none;
}

.menu-selected{
    font-weight: bold;
    color: #FFB800;
    background-color: greenyellow;
}

.top-bgc{
    background-color: #996600;
}

.top-header{
    text-align: center;
    font-family: 隶书;
    font-size: 50px;
    color: wheat;
    background-color: #996600;
    margin: auto;
}

.topMenu {
    width: 100%;
    height: 6%;
    float: left;
}

.leftMenu {
    float: left;
    margin-top: 8px;
    height: 92%
}

.content-area {
    float: right;
    height: 92%;
    margin-top: 10px;
    margin-right: 15px;
    width: 88%
}